<div class="row col-sm-12 flex-center">
    <div class="row" ng-if="data.bankData">
        <div class="row flex-center" style="margin: 10px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 20%;"></th>
                        <th scope="col" style="width: 80%;"></th>
                    </tr>
                </thead>
                <tbody ng-if="!resultLoading">
                    <tr ng-click="openBankDetails(bank)" ng-repeat="(key, value) in data.bankData">
                        <td>{{key | regularCase}}</td>
                        <td>{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" ng-if="data.bankData==null">
            Not Found
        </div>
    </div>