/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-decoration: underline;
}

.link-text {
  text-decoration: underline !important;
  color: #337ab7;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .pad-top-mb {
    padding-top: 10px;
    text-align: left;
  }
}
