<div class="">
    <div class="row col-sm-12 flex-center">
        <h3>
            Bank Search
        </h3>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-12" style="margin-top: 10px;">
        <div class="col-sm-5 col-md-5 col-xs-12 flex-center pad-top-mb">
            <div class="col-sm-8 col-md-8 col-xs-8" style="padding-left: 0px;">
                <div class="group">
                    <select id="selectBank" class="form-control" name="selectBank" ng-model="data.bankSelected"
                        ng-options="bank as bank.name for bank in data.bankOptions"
                        ng-change="selectBank(data.bankSelected)">
                        <option value="">Select Bank</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-4" style="padding-left: 0px;">
                <span class="fa fa-star" ng-if="data.bankSelected && data.bankSelected.favourite"
                    ng-click="markFavourite(data.bankSelected, false)"> Favourite</span>
                <span class="fa fa-star-o" ng-if="data.bankSelected && !data.bankSelected.favourite"
                    ng-click="markFavourite(data.bankSelected, true)"> Mark Favourite</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12  pad-top-mb">
            <div class="group">
                <input type="text" name='searchText' ng-change="pageChanged()" ng-model='data.searchText' placeholder="Search through results"
                    style="width:
                    100%;" />
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-12 pad-top-mb flex-center" style="padding-left: 0px;">
            <div class="col-sm-8 col-xs-6 col-md-8" style="text-align: right;">
                <label>
                    Results per Page
                </label>
            </div>
            <div class="col-sm-4 col-xs-6 col-md-4">
                <div class="group">
                    <select id="selectPage" class="form-control" name="selectPage" ng-model="data.itemsPerPage"
                        ng-options="page for page in data.pageOptions" ng-change="pageChanged()">
                        <option value="">Results per page</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 10px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="width: 5%;">#</th>
                <th scope="col" style="width: 40%;">Bank Name</th>
                <th scope="col" style="width: 15%;">Bank Id</th>
                <th scope="col" style="width: 40%;">Branch</th>
            </tr>
        </thead>
        <tbody ng-if="!resultLoading">
            <tr
                ng-repeat="bank in data.bankSelected.result.filteredList | filter: data.searchText as results track by $index">
                <th scope="row">{{$index+1}}</th>
                <td ng-click="openBankDetails(bank)" class="link-text">{{bank.bank_name}}</td>
                <td>{{bank.bank_id}}</td>
                <td>{{bank.branch}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row col-sm-12 flex-center" ng-if="resultLoading">
        <span class="fa fa-spinner fa-spin"></span>&nbsp;&nbsp;<span>Fetching Results ...</span>
    </div>
    <div class="row col-sm-12 flex-center"
        ng-if="!resultLoading && data.bankSelected.result.banksList && data.bankSelected.result.banksList.length===0">
        <span>No Records.</span>
    </div>
    <div class="row col-sm-12 flex-center"
        ng-if="data.bankSelected.result.banksList && data.bankSelected.result.banksList.length>0">
        <div uib-pagination total-items="data.bankSelected.result.totalItems"
            ng-model="data.bankSelected.result.currentPage" items-per-page="data.itemsPerPage"
            max-size="data.bankSelected.result.maxSize" force-ellipses="true" class="pagination-sm" rotate="false"
            ng-change="pageChanged()"></div>
    </div>
</div>